h1{ color: #005677; font-size: 35px; background-color: #C4C4C4
}
body {font-family: 'Times New Roman', Times, serif;}
h2{color: #005677; background-color: #C4C4C4}
.negirta{font-weight: bold;}
footer{background-color: #005677; color: white;}